*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220, 135, 241);
  }
  
  li {
    float: right;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }


body{
    font-family: arial,sans-serif;
    background:linear-gradient(rgba(69, 66, 206, 0.8),rgba(155, 22, 148, 0.8)), url(image/contactluna.jpg);
}

h2{
    font-size: 50px;
    color: white;
    text-align: center;
}
.accordion{
    width: 50%;
    margin: auto;
    padding: 18px;
    
    background: rgb(163, 136, 228);
    text-align: center;
}

/* .accordion-tab .accordion-toggle{
    display: none;
} */

.accordion-tab > label{
    color: #fff;
    background: rgb(169, 47, 194);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 12px 20px;
    cursor: pointer;    
    border-top: 1px solid wheat;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    padding: 20px;
}